#chat-container {
    width: 400px;
    max-width: 95%;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
}

#chat-box {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background: white;
    margin-bottom: 10px;
}

#chat-box div {
    margin: 8px 0;
}

.bot {
    color: #0066cc;
}

#user-input {
    width: 80%;
    padding: 8px;
}

#send-btn {
    width: 20%;
    padding: 8px;
    background: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
}
.user-msg {
    background: #e0f2fe;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    font-size: 15px;
}

.bot-msg {
    background: #f3f4f6;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    font-size: 15px;
}
